name: polymart_app
description: A practice app for Polymer Marketplace UI
publish_to: "none"

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.5

  # Google Fonts
  google_fonts: ^5.1.0

  # Responsive UI
  flutter_screenutil: ^5.9.0

  # Open external URLs
  url_launcher: ^6.2.5

  # intl (already fine)
  intl: ^0.18.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/icons/
    - assets/images/